name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-experimental-features = nix-command flakes

      - name: Build atlas
        run: nix build .#atlas --print-out-paths
        env:
          NIXPKGS_ALLOW_UNFREE: 1

      - name: Test atlas version
        run: |
          ./result/bin/atlas version
          ./result/bin/atlas --help | grep -q "login"

      - name: Check flake
        run: nix flake check --impure
        env:
          NIXPKGS_ALLOW_UNFREE: 1
